<div class="flex flex-row gap-2 transition duration-300 hover:scale-105">
    <div class="flex flex-auto rounded-lg border-gray-400 shadow-md">
        <div class="h-full w-min relative justify-start">
            <div class="px-1 h-full w-0.5 bg-green-400 rounded-l-lg"></div>
        </div>
        <div class="p-4 w-full divide-y-4 divide-gray-600 divide-solid">
            <!-- <h3 class="card-header">{{ to.label }}</h3> -->
            <div class="flex flex-row gap-2">
                <div class="flex-1">
                    <ng-container #fieldComponent></ng-container>
                </div>
                <div class="flex-1">
                    <nz-select class="w-full" nzPlaceHolder="Selecciona control" [formControl]="selectorInputType" (ngModelChange)="changeComponent()">
                        <nz-option nzCustomContent nzLabel="Respuesta corta" nzValue="shortAnswer">
                            <i nz-icon nzType="line"></i>
                            Respuesta corta
                        </nz-option>
                        <nz-option nzCustomContent nzLabel="Párrafo" nzValue="paragraph">
                            <i nz-icon nzType="line"></i>
                            Párrafo
                        </nz-option>
                    </nz-select>
                </div>

                <ng-container #field></ng-container>
            </div>
            <div class="w-full flex flex-row gap-1">
                <button nz-button (click)="removeQuestion()">
                    <i nz-icon nzType="delete"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Barra de acciones -->
    <div class="flex-none rounded-lg border-gray-400 shadow-md p-1">
        <div class="flex flex-col gap-1 items-stretch p-2">
            <button nz-button nzShape="circle" nz-tooltip="Añadir nueva pregunta" nzTooltipPlacement="right" type="button" class="flex justify-center" (click)="addQuestion()">
                <i nz-icon nzType="plus" class="self-center"></i>
            </button>
            <button nz-button nzShape="circle" nz-tooltip="Añadir título y descripción" nzTooltipPlacement="right" type="button" class="flex justify-center">
                <i nz-icon nzType="font-size" class="self-center"></i>
            </button>
            <button nz-button nzShape="circle" nz-tooltip="Añadir imagen" nzTooltipPlacement="right" type="button" class="flex justify-center">
                <i nz-icon nzType="picture" class="self-center"></i>
            </button>
            <button nz-button nzShape="circle" nz-tooltip="Añadir video" nzTooltipPlacement="right" type="button" class="flex justify-center">
                <i nz-icon nzType="play-square" class="self-center"></i>
            </button>
            <button nz-button nzShape="circle" nz-tooltip="Añadir nueva sección" nzTooltipPlacement="right" type="button" class="flex justify-center">
                <i nz-icon nzType="subnode" class="self-center"></i>
            </button>
        </div>
    </div>
</div>