<form [formGroup]="form" nz-form>
    <nz-form-item>
        <nz-form-control class="w-full">
            <nz-radio-group formControlName="input" class="w-full grid gap-2">
                <label *ngFor="let option of options; let i = index" nz-radio class="flex-row">
                    <textarea nz-input nzAutosize rows="1" [nzBorderless]="i !== focusIndex" [autocomplete]="false"
                        [value]="option.value" (focus)="onFocus(i)" (blur)="onBlur()"
                        [disabled]="(!!option.extraProperties?.isOther)"></textarea>
                    <i nz-icon nzType="close" class="hover:scale-110 cursor-pointer text-black"
                        (click)="removeOptionAtIndex(i)"></i>
                </label>
                <label nz-radio nzDisabled>
                    <input nz-input [value]="'Añadir opción'" (click)="onAddOption(input)" #input />
                    <ng-container [ngTemplateOutlet]="OtherOptionTemplate" *ngIf="!hasOther"></ng-container>
                </label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>
</form>

<ng-template #OtherOptionTemplate let-option>
    o
    <a nz-button nzType="link" *ngIf="!hasOther" (click)="onAddOtherOption()">añadir respuesta "Otro"</a>
</ng-template>