
app-kiss-vertical-radio {
    [nz-radio] {
        display: flex;
        line-height: 32px;

        span:first-child {
            flex: none;
        }

        span:nth-child(2) {
            display: flex;
            flex: auto;
            flex-direction: row;
            align-items: center;

            input,
            textarea {
                margin-left: 10px;
                flex: auto;
            }
    
            button {
                flex: none;
            }
        }

    }
}