<div class="h-full flex flex-col gap-4">

    <app-header-action-bar class="flex-none bg-white p-2 rounded-lg shadow-md"></app-header-action-bar>
    
    <div class="flex-auto content accent relative bg-white rounded-lg shadow-md p-4" role="main">
        <ng-template [ngTemplateOutlet]="addImage"></ng-template>
        <ng-template [ngTemplateOutlet]="colors"></ng-template>
        <ng-template [ngTemplateOutlet]="settings"></ng-template>
        <nz-tabset nzSize="large" nzCentered>
            <nz-tab nzTitle="Prueba">"Buena"!</nz-tab>
            <nz-tab nzTitle="Preguntas">Hola!</nz-tab>
            <nz-tab nzTitle="Respuestas">Content of Tab Pane 2</nz-tab>
        </nz-tabset>
    
    </div>

</div>    
<!-- insertar imagen -->
<ng-template #addImage>
    <fuse-sidebar class="bg-white rounded-tl-lg" [name]="'image'" [position]="'right'">
        <div class="p-2">
            <span class="text-xl">En creación</span>
        </div>
    </fuse-sidebar>
</ng-template>

<!--  -->
<ng-template #colors>
    <fuse-sidebar class="bg-white rounded-tl-lg" [name]="'theme'" [position]="'right'">
        <app-form-theme-selector class="h-full"></app-form-theme-selector>
    </fuse-sidebar>
</ng-template>

<ng-template #settings>
    <fuse-sidebar class="bg-white rounded-tl-lg" [name]="'setting'" [position]="'right'">
        <div class="p-2">
            <span class="text-xl">Ajustes de encuesta</span>
        </div>
    </fuse-sidebar>
</ng-template>