<nz-layout class="min-h-screen">
  <nz-sider class="relative z-10 min-h-screen shadow-inner"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
            <div class="h-[64px] bg-gray-200 m-[16px]"></div>

            <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
              <li ngClass="" nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
                <ul>
                  <li nz-menu-item nzMatchRouter>
                    <a routerLink="/welcome">Welcome</a>
                  </li>
                  <li nz-menu-item nzMatchRouter>
                    <a routerLink="/material">Material</a>
                  </li>
                  <li nz-menu-item nzMatchRouter>
                    <a routerLink="/antd">Ng zorro Antd</a>
                  </li>
                </ul>
              </li>
              <li class="" nz-submenu nzOpen nzTitle="Form" nzIcon="form">
                <ul>
                  <li nz-menu-item nzMatchRouter>
                    <a routerLink="/form-builder">Basic Form</a>
                  </li>
                </ul>
              </li>
            </ul>
  </nz-sider>

  <nz-layout>
    <nz-header class="relative h-20 p-0 shadow-inner">
      <div class="grid grid-cols-6 gap-4 h-20 p-4 text-base transition duration-300 ease-in-out align-stretch">
        <span class="cols-span-1 flex justify-start items-center">
          <div (click)="isCollapsed = !isCollapsed" class="h-10 w-10 rounded-full shadow-md cursor-pointer bg-gray-100 flex items-center justify-center hover:shadow-2xl transition duration-300 hover:scale-110 font-black">
            <i  class="text-black dark:text-white" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </div>
        </span>
        <div class="col-span-4 flex justify-center items-center">
          <h2 class="text-black dark:text-white" style="margin: 0px;">Generador de Encuestas</h2>
        </div>
        <div class="col-span-1">
          <div class="h-full rounded-full shadow-md bg-gray-100 cursor-pointer flex items-center justify-center hover:shadow-2xl transition duration-300 hover:scale-110 font-black">
            <i  class="text-black dark:text-white text-xl" nz-icon [nzType]="'user'"></i>
          </div>
        </div>

        <!-- <div class="flex justify-between items-center col-span-1">
              <div class="w-16 h-10 flex items-center bg-gray-300 rounded-full p-1 duration-100 ease-in-out" [ngClass]="{ 'bg-green-400': toggleActive}">
                  <div class="bg-white w-8 h-8 rounded-full shadow-md transform duration-100 ease-in-out" [ngClass]="{ 'translate-x-6': toggleActive}"></div>
              </div>
        </div> -->
      </div>
            
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>

</nz-layout>
