<nz-radio-group [formControl]="option" class="flex flex-col">
    <label nz-radio nzValue="default">
        <div class="grid grid-cols-5 gap-0.5">
            <div *ngFor="let item of likertOptions.Default" class="col-span-1 h-4 w-4 rounded-full m-1" [ngStyle]="{'background-color': item}"></div>
        </div>
    </label>
    <label nz-radio nzValue="A">
        <div class="grid grid-cols-5 gap-0.5">
            <div *ngFor="let item of likertOptions.Fancy" class="col-span-1 h-4 w-4 rounded-full m-1" [ngStyle]="{'background-color': item}"></div>
        </div>
    </label>
  </nz-radio-group>