<div class="h-full flex flex-col align-stretch">
    <!-- Icono + Título + Salir -->
    <div class="border-b shadow-sm border-gray-300 py-6">
        <div class="flex flex-row gap-2 items-center px-4">
            <i class="flex-none" nz-icon [nzType]="'picture'" style="font-size: 1.3em;"></i>
            <span class="flex-1 text-base font-semibold">Opciones de tema</span>
            <button (click)="closePanel()" nz-button nzSize="small" [nz-tooltip]="'Cerrar'" nzTooltipPlacement="top"  nzType="text" nzShape="circle" class="flex-none hover:scale-110">
                <i nz-icon [nzType]="'close'" style="font-size: 1.3em;"></i>
            </button>
        </div>
    </div>
    <!-- Encabezado -->
    <div class="border-b border-gray-200 py-6">
        <div class="flex flex-col gap-1 px-4">
            <span class="uppercase tracking-wider text-xs">Encabezado</span>
            <button nz-button [nz-tooltip]="'Añadir imagen encabezado del formulario'" nzTooltipPlacement="top"  nzType="default" >
                <i nz-icon [nzType]="'picture'" style="font-size: 1.3em;"></i>
                Elegir imagen
            </button>
        </div>        
    </div>
    
    
    <!-- Color tema -->
    <div class="border-b border-gray-200 py-6">
        <div class="flex flex-col gap-1 px-4">
            <span class="uppercase tracking-wider text-xs">Color del tema</span>
            <color-circle ></color-circle>
            
        </div> 
    </div>
    
    <!-- Color fondo -->
    <div class="border-b border-gray-200 py-6">
        <div class="flex flex-col gap-1 px-4">
            <span class="uppercase tracking-wider text-xs">Color del fondo</span>
            <color-circle
                [colors]='["#f44336", "#e91e63", "#9c27b0", "#673ab7", "#3f51b5"]'>
            </color-circle>
        </div> 
    </div>

    <!-- Color gráficos matriz -->
    <div class="border-b border-gray-200 py-6">
        <div class="flex flex-col gap-1 px-4">
            <span class="uppercase tracking-wider text-xs">Color gráficos <span class="italic">likert</span></span>
            <nz-radio-group [(ngModel)]="radioValue" class="flex flex-col">
                <label nz-radio nzValue="default">
                    <color-circle
                        [circleSize]="12"
                        [circleSpacing]="8"
                        [contentEditable]="false"
                        (click)="$event.preventDefault();"
                        [colors]='["#f44336", "#e91e63", "#9c27b0", "#673ab7", "#3f51b5"]'>
                    </color-circle>
                </label>
                <label nz-radio nzValue="A">
                    <color-circle
                        [circleSize]="12"
                        [circleSpacing]="8"
                        [contentEditable]="false"
                        
                        [colors]='["#f44336", "#e91e63", "#9c27b0", "#673ab7", "#3f51b5"]'>
                    </color-circle>
                </label>
                <label nz-radio nzValue="B">
                    <color-circle
                        [circleSize]="12"
                        [circleSpacing]="8"
                        [contentEditable]="false"
                        [colors]='["#f44336", "#e91e63", "#9c27b0", "#673ab7", "#3f51b5"]'>
                    </color-circle>
                </label>
              </nz-radio-group>
        </div> 
    </div>

</div>