<nz-card [nzTitle]="extraTemplate">
    <p style="font-size:14px;color:rgba(0, 0, 0, 0.85);margin-bottom:16px;font-weight: 500;">{{field.templateOptions!.sectionDescription}}</p>
    <div *ngFor="let field of field.fieldGroup; let i = index;" class="row">
        <formly-field class="col" [field]="field"></formly-field>
        <div class="col-sm-2 d-flex align-items-center">
            <!-- <button nz-button nzType="primary" nzDanger type="button" (click)="remove(i)">Eliminar</button> -->
            <button nz-button nzType="primary" nzDanger type="button">Eliminar</button>
        </div>
    </div>
</nz-card>
<ng-template #extraTemplate>
    <input nz-input placeholder="borderless" nzBorderless />
</ng-template>
<!-- 
<ng-template #sectionName let-data>
    <formly-field *ngIf="field.templateOptions" [field]="field.templateOptions!.sectionName"></formly-field>
</ng-template> -->